.seller-container {
  display: flex;
  width: 12vw;
  justify-content: space-evenly;
  align-items: center;
}

.seller-picture-container {
  border: solid lavender;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5vw;
  width: 2.5vw;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px lavender inset;
}

.seller-picture {
  font-size: 1.5vw;
  font-weight: 500;
}

.seller-names {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.username {
  font-size: 1vw;
  font-weight: 300;
}

.person-name {
  font-size: 1vw;
  font-weight: 100;
}