.profilePage {
  height: 100%;
  display: flex;
}

.profileContent{
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  overflow-y: auto;
}

.profileHeader {
  height: 100%;
  display: flex;
  flex-direction: column;

}