.walletPage {
  height: 100%;
  display: flex;
}

.walletContent{
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  overflow-y: auto;
}

.walletHeader {
  height: 100%;
  display: flex;
  flex-direction: column;

}