.yourImpactPage {
  height: 100%;
  display: flex;
}

.yourImpactContent{
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  overflow-y: auto;
}

.yourImpactHeader {
  height: 100%;
  display: flex;
  flex-direction: column;

}