.marketplacePage {
  height: 100%;
  display: flex;
}
.marketplaceContent {
  margin: 4%;
  width: 100%;
  height: 100%;
  max-height: 90%;
  /* overflow-y: auto; */
  display: flex;
  flex-direction: column;
}

.marketplaceHeader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.marketplace-upper-container {
  display: flex;
  width: 100%;
  height: 20%;
  flex-direction: column;
  row-gap: 10%;
  /* background-color: red; */
}

.marketplace-upper-tools {
  display: flex;
  height: 35%;
  column-gap: 1%;
  margin-bottom: 2%;
}

.marketplace-search {
  flex: 6;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 5%;
  font-weight: 200;
  font-size: large;
  border: 0.25px solid grey;
}

.marketplace-upload {
  flex: 1;
  width: 100%;
  border-radius: 20px;
  background-color: rgb(198, 191, 255);
  font-size: 125%;
  border-style: none;
  box-shadow: 3x 3px grey;
  font-weight: 100;
}

.marketplace-button {
  flex: 1;
  width: 100%;
  margin-top: 8px;
  border-radius: 20px;
  background: transparent;
  font-size: 125%;
  border-style: none;
  box-shadow: 3x 3px grey;
  font-weight: 100;
}

.marketplace-title {
  font-weight: 500;
  font-size: xx-large;
  align-self: flex-start;
  /* margin-left: 5%; */
  /* margin-bottom: 20px; */
}

.marketplace-items-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
  height: 70%;
  max-height: 70%;
  width: 100%;
  margin: 8px 8px 8px 8px;
}

/* .marketplace-item {
  height: 100%;
  width: 100%;
} */

/* .marketplace-card {
  height: 100%;
  width: 20%;
} */
